<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.75"
  stroke-linecap="round"
  stroke-linejoin="round"
  [class.decorative]="!label()"
  [attr.aria-hidden]="label() ? null : true"
  [attr.aria-label]="label()"
  [attr.role]="label() ? 'img' : null"
>
  @switch (name()) {
    @case ('castle') {
      <path d="M4 20V10l2-2h2v2h2V6h4v4h2V8h2l2 2v10H4z" />
      <path d="M4 10V8l1.5-2L7 8M17 8l1.5-2L20 8v2" />
      <path d="M10 20v-5h4v5" />
      <path d="M7 14h2M15 14h2" />
    }
    @case ('home') {
      <path d="M4 20V11l8-7 8 7v9H4z" />
      <path d="M10 20v-6h4v6" />
    }
    @case ('map') {
      <path d="M4 6l5-2 6 2 5-2v14l-5 2-6-2-5 2V6z" />
      <path d="M9 4v14M15 6v14" />
    }
    @case ('helm') {
      <path d="M5 13a7 7 0 0 1 14 0v3H5v-3z" />
      <path d="M12 6v3M8 16v3h8v-3" />
      <path d="M9 13h6" />
    }
    @case ('key') {
      <circle cx="8" cy="10" r="3.5" />
      <path d="M11 10h9l-2 2 2 2h-3" />
    }
    @case ('logout') {
      <path d="M14 5h5v14h-5" />
      <path d="M11 12H4m4-4-4 4 4 4" />
    }
    @case ('alert') {
      <path d="M5 16c2-1 4-6 7-6s4 2 7 1" />
      <path d="M5 16c0 2 1.5 3 3 3h2" />
      <path d="M12 10V5l5 2" />
    }
    @case ('chevron-down') {
      <path d="m6 9 6 6 6-6" />
    }
    @case ('sword') {
      <path d="M14 4l6 6-9 9H5v-6l9-9z" />
      <path d="M9 15l6-6" />
    }
    @case ('shield') {
      <path d="M12 3 5 6v6c0 4.5 3 7.5 7 9 4-1.5 7-4.5 7-9V6l-7-3z" />
    }
    @case ('check') {
      <path d="m5 12 5 5 9-10" />
    }
    @case ('sun') {
      <circle cx="12" cy="12" r="4" />
      <path d="M12 3v2M12 19v2M5 12H3M21 12h-2M6.2 6.2l1.4 1.4M16.4 16.4l1.4 1.4M6.2 17.8l1.4-1.4M16.4 7.6l1.4-1.4" />
    }
    @case ('moon') {
      <path d="M16 4.5A7.5 7.5 0 1 0 19.5 16 6 6 0 0 1 16 4.5z" />
    }
    @case ('x') {
      <path d="M6 6l12 12M18 6 6 18" />
    }
  }
</svg>
